body{
    font-family: Bahnschrift, mono;
}

div#korihead{
    border: 5px solid #ffd1dc;
    margin: auto;
    text-align: center;
}
div#about{
    content-align: center;
}
img.round{
    margin: auto;
    border-radius: 50%;
    length: 5rem;
    width: 5rem;
}